@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌌 XombiX Uzay Teması - Gerçek görsel */

body {
  background-image: url('/Space-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  margin: 0;
  font-family: 'monospace';
}
