@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌌 XombiX Uzay Arka Planı */
html, body {
  background-image: url("/space-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: black;
  min-height: 100%;
}
